<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MWB Website</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/homepage.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header>
            <!-- Navigation bar -->
            <nav class="navbar">
                <a href="/" class="logo-link">
                    <div class="logo" @click="showHomePage">MWB</div>
                </a>
                <div class="nav-links">
                    <a href="#" @click="showAboutInfo">About</a>
                    <a href="#" @click="showProjectInfo">Projects</a>
                    <a href="#" @click="showContactInfo">Contact</a>
                </div>
            </nav>
        </header>
        <!-- Falling Pixel Effect  -->
        <div class="falling-pixels">
            <div class="pixel" id="pixel1"></div>
            <div class="pixel" id="pixel2"></div>
            <div class="pixel" id="pixel3"></div>
        </div>
        <!-- Div Holding all content regarding myself -->
        <div class="details">
            <!-- Homepage div -->
            <div class="introduction" v-if="showIntroduction">
                <div class="profile-container">
                    <div class="profile-image">
                        <img src="/images/Myself.jpg" alt="Profile Image">
                    </div>
                    <div class="profile-info">
                        <h1 class="greeting">Hello, I'm </h1>
                        <h1 class="title" id="effect-title" v-html="typedTitle">\n</h1>
                        <h1 class="title" id="no-effect-title">Maxwell Bruce</h1>
                        <br>
                        <p>Welcome to my website! Here, you'll find detailed insights into my professional journey,
                            including an overview of my public projects, experience, community involvement, and
                            achievements in computer science. Should you wish to connect, please don't hesitate to reach
                            out through the "Contact Me" button below!</p>
                    </div>
                </div>
                <div class="button-container">
                    <div class="outside-container">
                        <a href="#" class="pill-button" id="contactButton" @click="showContactInfo">Contact Me</a>
                    </div>
                    <div class="outside-container">
                        <a href="/downloads/Resume.pdf" class="pill-button" download="My_Resume.pdf">Download CV</a>
                    </div>
                </div>
            </div>
            <!-- Contact information div -->
            <div class="contactInformation" v-if="showContactStatus">
                <div class="links">
                    <!-- My Links section -->
                    <h3>Links:</h3>
                    <div class="button-container">
                        <div class="outside-container">
                            <a href="https://www.linkedin.com/in/maxwell-bruce-b0a0771b1/" target="_blank"
                                class="pill-button">LinkedIn</a>
                        </div>
                        <div class="outside-container">
                            <a href="https://github.com/MWBruce" target="_blank" class="pill-button">Professional
                                GitHub</a>
                        </div>
                        <div class="outside-container">
                            <a href="https://github.com/A1766106" target="_blank" class="pill-button">Student GitHub</a>
                        </div>
                    </div>
                </div>
                <!-- My Emails section -->
                <div class="emails">
                    <h3>Email:</h3>
                    <p>MaxwellWallaceBruce@gmail.com</p>
                </div>
            </div>
            <!-- About information div -->
            <div class="aboutInformation" v-if="showAboutStatus">
                <!-- My Links section -->
                <section class="about-section left-image">
                    <img src="/images/Myself.jpg" class="about-image">
                    <div class="about-text">
                        <h3>Work Experience:</h3>
                        <ul>
                            <li>
                                <strong>Associate Software Engineer </strong> - Macquarie
                                (2/2025-Present):
                                <br>
                                <ul v-if="saabShow">
                                    <li class="moreInformation">Develop front office trading software utilising Python
                                        and C++.</li>
                                </ul>
                                <!-- Buttons to show and hide additional information -->
                                <div class="about-button-container">
                                    <div class="outside-container smaller-outside-container" v-if="!saabShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="saabShowButton">Show More Information</a>
                                    </div>
                                    <div class="outside-container smaller-outside-container" v-if="saabShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="saabShowButton">Close</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <strong>Software and Machine Learning Engineer </strong> - SAAB Australia
                                (11/2023-1/2025):
                                <br>
                                <ul v-if="saabShow">
                                    <li class="moreInformation">Developed and integrated various models using Python and
                                        C++ to analyse and model defence systems.</li>
                                    <li class="moreInformation">Utilised various machine learning algorithms including
                                        and not limited to Generative Adversarial Networks, Diffusion Models,
                                        Convolutional Neural Networks, Transformers and LSTMs.</li>
                                </ul>
                                <!-- Buttons to show and hide additional information -->
                                <div class="about-button-container">
                                    <div class="outside-container smaller-outside-container" v-if="!saabShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="saabShowButton">Show More Information</a>
                                    </div>
                                    <div class="outside-container smaller-outside-container" v-if="saabShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="saabShowButton">Close</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <strong>Machine Learning Researcher</strong> - Australian Institute for Machine Learning
                                (4/2023-Present):
                                <br>
                                <ul v-if="aimlShow">
                                    <li class="moreInformation">Developed machine learning algorithms under Dr Jinan Zuo
                                        allowing me to develop a foundation of machine learning knowledge.</li>
                                    <li class="moreInformation">I am currently writing a paper about an algorithm
                                        developed by me which enhanced a trading models’ ability to generalize to unseen
                                        market environments.</li>
                                </ul>
                                <!-- Buttons to show and hide additional information -->
                                <div class="about-button-container">
                                    <div class="outside-container smaller-outside-container" v-if="!aimlShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="aimlShowButton">Show More Information</a>
                                    </div>
                                    <div class="outside-container smaller-outside-container" v-if="aimlShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="aimlShowButton">Close</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <strong>Accountant</strong> - RJC Evans & Co Pty Ltd (4/2020–4/2023):
                                <br>
                                <ul v-if="rjcShow">
                                    <li class="moreInformation">Prepared Income Tax Returns and Financial Statements.
                                    </li>
                                    <li class="moreInformation">Corresponded with Clients.</li>
                                    <li class="moreInformation">Conducted Audits.</li>
                                </ul>
                                <!-- Buttons to show and hide additional information -->
                                <div class="about-button-container">
                                    <div class="outside-container smaller-outside-container" v-if="!rjcShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="rjcShowButton">Show More Information</a>
                                    </div>
                                    <div class="outside-container smaller-outside-container" v-if="rjcShow">
                                        <a href="#" class="pill-button smaller-pill-button" id="contactButton"
                                            @click="rjcShowButton">Close</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- Education section -->
                <section class="about-section right-image">
                    <div class="about-text">
                        <h3>Education:</h3>
                        <ul>
                            <li>University of Adelaide - Bachelor of Computer Science (Honours 91% WAM) – Complete</li>
                            <li>University of Adelaide – Bachelor of Commerce (Accounting and Corporate
                                Finance) – Complete</li>
                            <li>Stanford University and DeepLearning.AI – Machine Learning Specialization Course</li>
                            <li>DeepLearning.AI – Deep Learning Specialization Course</li>
                            <li>St Peters College – High School</li>
                        </ul>
                    </div>
                    <img src="/images/Ingenuity.jpeg" class="about-image">
                </section>

                <!-- Achievements Section -->
                <section class="about-section left-image">
                    <img src="/images/CPC.png" class="about-image">
                    <div class="about-text">
                        <h3>Achievements:</h3>
                        <ul>
                            <li>Adelaide University - Summer Research Scholarship</li>
                            <li>Adelaide University - The Software Engineering Award</li>
                            <li>Adelaide University - Innovative Software Engineering Award</li>
                        </ul>
                    </div>
                </section>

                <!-- Community Involvement Section -->
                <section class="about-section right-image">
                    <div class="about-text">
                        <h3>Community Involvements:</h3>
                        <ul>
                            <li>Treasurer – Competitive Programming Club (Adelaide University)</li>
                            <li>Co-Founder - AI Camp (A start up introducing AI into education)</li>
                            <li>Player – Ardrossan Football Club</li>
                            <li>Member - Adelaide Computer Science Club</li>
                        </ul>
                    </div>
                    <img src="/images/Meeting.png" class="about-image">
                </section>

                <!-- Interests Section -->
                <section class="about-section left-image">
                    <img src="/images/Football2.jpg" class="about-image">
                    <div class="about-text">
                        <h3>Interests:</h3>
                        <ul>
                            <li>Competitive Programming</li>
                            <li>Machine Learning</li>
                            <li>Financial Markets</li>
                            <li>Exercise</li>
                            <li>Football</li>
                        </ul>
                    </div>
                </section>
            </div>

            <!-- Projects div -->
            <div class="projectInformation" v-if="showProjectStatus">
                <ul class="projects-list">
                    <li class="project">
                        <div class="project-card">
                            <img src="/images/portfolioIcon.jpg" alt="Portfolio Website Icon" class="project-image">
                            <div class="project-details">
                                <h4 class="project-title">My Portfolio Website</h4>
                                <p class="project-description">A simple portfolio website showcasing myself.</p>
                                <a href="https://github.com/MWBruce/PortfolioWebsite" target="_blank"
                                    class="project-link">GitHub Link</a>
                                <p class="project-language">Language Used: HTML, CSS, JavaScript and Vue</p>
                                <span class="project-status complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="project">
                        <div class="project-card">
                            <img src="/images/automated-trading-strategies.jpg" alt="Portfolio Website Icon" class="project-image">
                            <div class="project-details">
                                <h4 class="project-title">Automated Trading Model</h4>
                                <p class="project-description">A automated crypto trading project I am completing.</p>
                                <a href="https://github.com/MWBruce/TradingSystem" target="_blank"
                                    class="project-link">GitHub Link</a>
                                <p class="project-language">Language Used: Python and C++</p>
                                <span class="project-status inprogress">In Progress</span>
                            </div>
                        </div>
                    </li>
                    <li class="project">
                        <div class="project-card">
                            <img src="/images/Edvance.webp" alt="Edvance Icon" class="project-image">
                            <div class="project-details">
                                <h4 class="project-title">Edvance Backend</h4>
                                <p class="project-description">As teachers are currently facing an issue with students
                                    cheating on assignments, a friend and I are building a wrapper around an OpenAI
                                    model which will allow teachers more control over students AI usage.</p>
                                <a href="https://github.com/Ed-Vance/api" target="_blank" class="project-link">GitHub
                                    Link</a>
                                <p class="project-language">Language Used: TypeScript</p>
                                <span class="project-status inprogress">In Progress</span>
                            </div>
                        </div>
                    </li>
                    <li class="project">
                        <div class="project-card">
                            <img src="/images/Zettlr.png" alt="Zettlr Icon" class="project-image">
                            <div class="project-details">
                                <h4 class="project-title">Zettlr Open Source Contribution</h4>
                                <p class="project-description">Fixed the remove references feature for an enhanced user
                                    experience and to assist my own academic paper development.</p>
                                <a href="https://github.com/Zettlr/Zettlr" target="_blank" class="project-link">GitHub
                                    Link</a>
                                <p class="project-language">Language Used: TypeScript</p>
                                <span class="project-status complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="project">
                        <div class="project-card">
                            <img src="/images/FMP.jpg" alt="FMP Icon" class="project-image">
                            <div class="project-details">
                                <h4 class="project-title">Financial Modeling Prep Wrapper</h4>
                                <p class="project-description">A wrapper around the Financial Modeling Prep API for
                                    researchers or C++ users wishing to make an automated trading bot.</p>
                                <a href="https://github.com/MWBruce/FinancialModelingPrepWrapper" target="_blank"
                                    class="project-link">GitHub Link</a>
                                <p class="project-language">Language Used: C++</p>
                                <span class="project-status complete">Complete</span>
                            </div>
                        </div>
                    </li>
                    <li class="project">
                        <div class="project-card">
                            <img src="/images/JenkinsIcon.png" alt="Jenkins DORA Plugin Icon" class="project-image">
                            <div class="project-details">
                                <h4 class="project-title">Jenkins DORA Plugin</h4>
                                <p class="project-description">A team project creating a plugin for Jenkins that
                                    collects all DORA metrics for development teams through the creation of a pipeline
                                    and integration of SAST tool. (Please note this repository was moved from the
                                    original)</p>
                                <a href="https://github.com/BarrettBytes/DORAAndSASTMetricJenkinsPlugin" target="_blank"
                                    class="project-link">GitHub Link</a>
                                <p class="project-language">Language Used: Java, Python, Pipeline DSL, Shell Script,
                                    PromQL and AWS CloudFormation Language</p>
                                <!--"project-status inprogress"-->
                                <span class="project-status complete">Complete</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>